<div id="<%= dom_id passanger %>">
  <p>
    <strong>First name:</strong>
    <%= passanger.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= passanger.last_name %>
  </p>

  <p>
    <strong>Items count:</strong>
    <%= passanger.items_count %>
  </p>

  <p>
    <strong>Items weight:</strong>
    <%= passanger.items_weight %>
  </p>

</div>
