<p style="color: green"><%= notice %></p>

<%= render @passanger %>

<div>
  <%= link_to "Edit this passanger", edit_passanger_path(@passanger) %> |
  <%= link_to "Back to passangers", passangers_path %>

  <%= button_to "Destroy this passanger", @passanger, method: :delete %>
</div>
